<div class="footer">
		<p>CopyRight2018</p>
	</div> <!-- close "footer" -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
